<div class="centerb">
  <H1>Editar {{oneGame.title}}</H1>
  <form action="/game/{{oneGame._id}}/edit" method="post" enctype="multipart/form-data">
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input type="text" name="title" value="{{oneGame.title}}" class="form-control">
    </div>

    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <input type="text" name="description" value="{{oneGame.description}}" class="form-control">
    </div>

    <div class="mb-3 editCover">
      <div>
        <img src="{{oneGame.cover}}" alt="{{oneGame.title}}">
      </div>
      <div class="d-flex flex-column">
        <label for="cover" class="form-label">Cover</label>
        <input type="file" name="cover" value="{{oneGame.cover}}" class="form-control">
      </div>
    </div>

    <div class="mb-3">
      <label for="genre" class="form-label">Genre</label>
      <select name="genre" class="form-control" multiple>
          {{#each oneGame.genre}}
            <option value="{{this}}" selected>{{this}}</option>
          {{/each}}
      </select>
    </div>
    
    <div class="mb-3">
      <label for="rating" class="form-label">Rating</label>
      <input type="text" name="rating" value="{{oneGame.rating}}" class="form-control">
    </div>

    <div class="mb-3">
      <label for="video" class="form-label">Video</label>
      <input type="text" name="video" value="{{oneGame.video}}" class="form-control">
    </div>

    <div class="mb-3">
    <label for="platform" class="form-label">Platform</label>
      <select name="platform" class="form-control" multiple>
          {{#each oneGame.platform}}
            <option value="{{this}}" selected>{{this}}</option>
          {{/each}}
      </select>
    </div>

    <div class="mb-3">
      <label for="launchDate" class="form-label">LaunchDate: <small>Actual Date: {{oneGame.launchDate}}</small></label>
      <input type="date" name="launchDate" value="{{oneGame.launchDate}}" class="form-control">
    </div>

    <div class="mb-3">
      <label for="isCompetitive" class="form-label">Is Competitive?</label>
      <select name="isCompetitive" class="form-control" value="{{oneGame.isCompetitive}}">
        <option value="true">True</option>
        <option value="false">False</option>
      </select>
    </div>

    <button class="btn btn-warning">Editar</button>

    {{#if errorMessage}}
      <div class="alert alert-warning" role="alert">
        {{errorMessage}}
      </div>
    {{/if}}
  </form>
</div>
