<div class="centerb">
  <H1>Editar {{oneGame.title}}</H1>
  <form action="/game/{{oneGame._id}}/edit" method="post">
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input type="text" name="title" value="{{oneGame.title}}" class="form-control">
    </div>

    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <input type="text" name="description" value="{{oneGame.description}}" class="form-control">
    </div>

    <div class="mb-3">
      <label for="cover" class="form-label">Cover</label>
      <input type="text" name="cover" value="{{oneGame.cover}}" class="form-control">
    </div>

    <div class="mb-3">
      <label for="genre" class="form-label">Genre</label>
      <select name="genre" class="form-control" multiple>
          <option value="action">Action</option>
          <option value="adventure">Adventure</option>
          <option value="shooter">Shooter</option>
      </select>
    </div>
    
    <div class="mb-3">
      <label for="rating" class="form-label">Rating</label>
      <input type="text" name="rating" value="{{oneGame.rating}}" class="form-control">
    </div>

    <div class="mb-3">
      <label for="video" class="form-label">Video</label>
      <input type="text" name="video" value="{{oneGame.video}}" class="form-control">
    </div>

    <div class="mb-3">
    <label for="platform" class="form-label">Platform</label>
      <select name="platform" class="form-control" multiple value="{{oneGame.platform}}">
        <option value="Sony">Sony</option>
        <option value="Xbox">Xbox</option>
        <option value="Nintendo">Nintendo</option>
        <option value="Steam">Steam</option>
      </select>
    </div>

    <div class="mb-3">
      <label for="launchDate" class="form-label">LaunchDate</label>
      <input type="date" name="launchDate" value="{{oneGame.launchDate}}" class="form-control">
    </div>

    <div class="mb-3">
      <label for="isCompetitive" class="form-label">Is Competitive?</label>
      <select name="isCompetitive" class="form-control" value="{{oneGame.isCompetitive}}">
        <option value="true">True</option>
        <option value="false">False</option>
      </select>
    </div>

    <button class="btn btn-warning">Editar</button>

    {{#if errorMessage}}
      <div class="alert alert-warning" role="alert">
        {{errorMessage}}
      </div>
    {{/if}}
  </form>
</div>
