<div class="formsStyles">
  <H1>Add a new Event</H1>

  <form action="/event/new-event" method="post">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" name="name"  placeholder="Enter name">
    </div>
    
    <div class="form-group">
      <label for="description">Description</label>
      <input class="form-control" name="description" placeholder="Enter description"></input>
    </div>
    
    <div class="form-group">
      <label for="startDate">Date</label>
      <input type="date" class="form-control" name="startDate">
    </div>

    <div class="form-group">
      <label for="imageUrl">Image</label>
      <input type="text" class="form-control" name="imageUrl" placeholder="Enter image URL">
    </div>
    
    <div class="form-group">
      <label for="game">Platform</label>
      <select class="form-control" name="game">
        {{#each allGames}}
          <option value="{{this._id}}">{{this.title}}</option>
        {{/each}}
      </select>
    </div>

    {{#if errorMessage}}
      <div class="alert alert-danger" role="alert">
        <p>{{errorMessage}}</p>
      </div>
    {{/if}}

    
    <button class="btn btn-success">Submit</button>
  </form>

{{!-- <form action="/event/new-event" method="post">
    <label for="name">name</label>
    <input type="text" name="name">

    <label for="description">Description</label>
    <input type="text" name="description">

    <label for="startDate">Fecha</label>
    <input type="date" name="startDate">

    <label for="imageUrl">Imagen</label>
    <input type="text" name="imageUrl">


    <label for="game">Juego</label>
     <select name="game">
      {{#each allGames}}
        <option value="{{this._id}}">{{this.title}}</option>
      {{/each}}
     </select>

    {{#if errorMessage}}
      <p>{{errorMessage}}</p>
    {{/if}}

    <button>Añadir</button>
  </form> --}}

</div>
