<div class="centerb">
  <div class="details d-flex">
    <div>
      <img src="{{foundUser.profilePic}}" alt="potrait" , width="300px" />
    </div>
    <div>
      <h3>Welcome {{foundUser.username}}</h3>

      <p>Your email address is: {{foundUser.email}}</p>

      <h5>Change your profile picture</h5>
      <form
        action="/user/profile-pic"
        method="post"
        enctype="multipart/form-data"
      >
        <label for="profilePic" class="form-label"></label>
        <input type="file" name="profilePic" class="form-control"/>

        <button class="btn btn-success">Upload</button>
      </form>
      {{#if errorMessage}}
      <div class="alert alert-danger " role="alert" style="height: 20px;">
        <p class="d-flex justify-content-center" >{{errorMessage}}</p>
      </div>
    {{/if}}
    </div>
  </div>
  <div class="text-success" style="width: 800px">
    <hr class="border border-primary border-3 opacity-75" />
  </div>
  <div>
    <h5 class="d-flex justify-content-center">Check your Favourite Games</h5>
    <div id="card-games">
      {{#each foundUser.favGame}}
        <div>
          <div class="card" style="width: 15rem">
            <a href="/game/{{this._id}}/details">
              <img
                src="{{this.cover}}"
                class="card-img-top"
                alt="{{this.title}}"
                style="width: 15rem; height: 100px; object-fit: cover;object-position: center top"
              />
            </a>

            <div class="card-body">
              <p class="d-flex justify-content-center">{{this.title}}</p>

              <a
                href="/game/{{this._id}}/details"
                class="btn btn-primary d-flex justify-content-center"
              >CHECK GAME</a>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
  <div class="text-success" style="width: 800px">
    <hr class="border border-primary border-3 opacity-75" />
  </div>
  <h5 class="d-flex justify-content-center">List of your Upcoming Events</h5>
  <div id="card-games">
    {{#each userEvent}}
      <div>
        <div class="card" style="width: 15rem">
          <a href="/event/{{this._id}}/details">
            <img
              src="{{this.imageUrl}}"
              class="card-img-top"
              alt="{{this.name}}"
              style="width: 15rem; height: 100px; object-fit: cover;object-position: center top"
            />
          </a>

          <div class="card-body">
            <p class="d-flex justify-content-center">{{this.name}}</p>
            <p class="d-flex justify-content-center">{{this.startDate}} </p>
            <a
              href="/event/{{this._id}}/details"
              class="btn btn-primary d-flex justify-content-center"
            >CHECK EVENT</a>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>