
<div class="centerb">
<div>
  <h1>TOP 25 GAMES</h1>

</div>

<div id="card-games">
  {{#each allGames}}
    <div>
      <div class="card" style="width: 23rem;">
        <a href="/game/{{this._id}}/details">
          <img
            src="{{this.cover}}"
            class="card-img-top"
            alt="{{this.title}}"
            style="width: 366px; height: 320px; object-fit: cover; object-position: center top;"
          />
        </a>

        <div class="card-body">
          <h5 class="card-title">{{this.title}}</h5>
          <p class="card-text">RATING: {{this.rating}} </p>
          <a
            href="/game/{{this._id}}/details"
            class="btn btn-primary d-flex justify-content-center"
          >CHECK GAME</a>
        </div>
      </div>
    </div>
  {{/each}}
</div>
    </div>