<div>
  
  <h1>{{oneGame.title}}</h1>
  <img src="{{oneGame.cover}}" alt="{{oneGame.title}}-cover" width="300px">

  <p>{{oneGame.description}}</p>
  <h2>{{oneGame.rating}}</h2>
  {{#each oneGame.platform}}
    <li>{{this}}</li>
  {{/each}}

  <p>{{oneGame.launchDate}}</p>

  {{#each oneGame.genre}}
    <li>{{this}}</li>
  {{/each}}

  <iframe width="560" height="315" src={{oneGame.video}}
  title="YouTube video player" frameborder="0" 
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
  </iframe>

  <form action="/user/{{oneGame._id}}/favgame" method="post">
    <button>Add to favorites</button>
  </form>

  <form action="/user/{{oneGame._id}}/no-favgame" method="post">
    <button>Delete from favorites</button>
  </form>

  {{#if message}}
    <p>{{message}}</p>
  {{/if}}
</div>