<div>
  <h1>Detalles del evento</h1>
  <h2>{{oneEvent.name}}</h2>
  <h3>{{oneEvent.game.title}}</h3>
  <p>{{oneEvent.description}}</p>
  <p>{{oneEvent.date}}</p>
  <img src="{{oneEvent.imageUrl}}" alt="{{oneEvent.name}}/name">
  
  <p>Usuarios apuntados:{{numberOfParticipants}}</p>
  
  <form action="/event/{{oneEvent._id}}/details" method="post">
      <button >Join</button>
  </form>
  {{#if messageError}}
  <p>{{messageError}}</p>
  {{/if}}

</div>